/* container */
.beneficiary-container{
    width:1000px;
}

/* title */
.page-title{
    font-size:28px;
    font-weight:600;
    color:white;
    margin-bottom:30px;
    text-align: center;
}
.forms{
    margin-left: 200px;
}
/* form */
.form-group{
    margin-bottom:22px;
}

.form-group label{
    display:block;
    margin-bottom:8px;
    font-size:14px;
    color:#2e3440;
}

/* inputs */
.form-group input{
    width:100%;
    padding:14px;
    border-radius:6px;
    border:none;
    background:#4f5c83;
    color:white;
    font-size:14px;
}

.form-group input::placeholder{
    color:#cbd5e1;
}

/* buttons row */
.actions{
    margin-top:30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* cancel */
.cancel-btn1{
    background:transparent;
    border:1px solid white;
    color:white;
    padding:8px 18px;
    border-radius:8px;
    cursor:pointer;
    width:120px;

}

/* save */
.save-btn1{
    background:linear-gradient(to right,#2e3440,#73819E);
    border:none;
    padding:10px 24px;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-weight:500;
    width:120px;
}