/* STATEMENT PAGE */
.statement-page{
    flex:1;
    padding:10px 20px;
}

/* summary */
.summary-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    margin:10px 0 25px 0;
}

.summary-grid label{
    font-size:13px;
    color:#6b7280;
}

.summary-grid p{
    margin-top:4px;
    font-weight:500;
}

/* filter buttons */
.range-buttons,
.type-buttons{
    display:flex;
    gap:10px;
    margin:10px 0;
}

.range-buttons button,
.type-buttons button{
    padding:8px 18px;
    border:none;
    border-radius:8px;
    background:#4f5c83;
    color:white;
    cursor:pointer;
}

.range-buttons .active,
.type-buttons .active{
    background:#73819E;
}

/* search */
.search-box{
    width:100%;
    padding:10px;
    margin-top:10px;
    border-radius:6px;
    border:none;
    background:#4f5c83;
    color:white;
}

/* table */
.statement-table table{
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
}

.statement-table th{
    background:#5b6b8c;
    color:white;
    padding:10px;
    text-align:left;
}

.statement-table td{
    padding:10px;
    border-bottom:1px solid #cfd3dc;
}

/* status */
.status{
    padding:5px 12px;
    border-radius:6px;
    color:white;
    font-size:12px;
}

.complete{ background:#2e3440;}
.pending{ background:#2e3440; }

/* download */
.download-buttons{
    display:flex;
    gap:10px;
    margin-top:10px;
}

.download-buttons button{
    background:#2e3440;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
}
